.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #96b59e; /* Fundo escuro semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
}

.content.large {
  max-width: 800px; /* Largura máxima do conteúdo */
  width: 100%;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; /* Aplicando a mesma fonte bonita */
}

.header {
  background-color: #abd6b7;
  color: #fff;
  padding: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.header h2 {
  margin: 0;
}

.body {
  padding: 20px 0;
}

.button-container {
  text-align: right;
  margin-bottom: 20px;
}

.button-container button {
  background-color: #0056b3;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.button-container button:hover {
  background-color: #0056b3;
}

.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

td span.material-icons {
  cursor: pointer;
}
